<fieldset>
    <legend><small>New Post</small></legend>
    <div ng-include="'apDiscussionNewPost.html'"
        ng-init="tempState = 'tempPost'"></div>
</fieldset>

<fieldset ng-if="discussionObject.posts.length > 0">
    <legend><small>Discussion Thread</small></legend>
    <ul class="ap-discussion-thread well well-sm">
        <li class="discussion-head" ng-repeat="post in discussionObject.posts | filter:{parentId: 0}"
            style="border-top-width: 1px;border-top-color: grey">
            <div ng-include="'apDisscussionPost.html'"
                 ng-init="level = 0"></div>
        </li>
    </ul>
</fieldset>

